#sidebarbody{
    background: linear-gradient(to bottom, green, teal );
}

#questlistbody{
    background: linear-gradient(to bottom, teal, gray );

}

#questbody{
    background: linear-gradient(to bottom, gray, teal );
}

#questlogbody{
    background: linear-gradient(to right, green, lime );
}
.quest-text {
    position: relative;
    display: inline-block;
}

.quest-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s ease;
}

.strikethrough::after {
    width: 100%;
}